nav {
	color: white;
	transition: all 0.5s ease;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px;
	display: block;
	transition: all 0.5s ease;
}
nav a:hover {
	color: blue;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: var(--main-radius);
	max-width: max-content;
}

li {
	float: left;
}

li a:hover:not(.active) {
	background-color: rgb(139, 139, 139);
}

.active {
	background-color: #04aa6d;
}
