:root {
	--main-radius: 10px;
	--main-padding: 5px;
	background-color: rgb(70, 70, 70);
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 40px 100px 1fr 2fr 40px;
	grid-template-areas: "nav nav nav" "header header header" "main main main" "content1 content2 content3"
		"footer footer footer";
	grid-gap: 5px;
}
nav {
	grid-area: nav;
}

header {
	background-color: #008856;
	grid-area: header;
	padding: var(--main-padding);
	border-radius: var(--main-radius);
	display: inline;
}
header:hover {
	background-color: #04aa6d;
}

header a {
	margin: 0;
	padding: 0;
	display: inline-block;
	justify-content: left;
}

header h1 {
	margin: 0;
	padding: 0;
	display: inline-block;
	color: white;
	justify-content: center;
}

main {
	background-color: #008856;
	grid-area: main;
	padding: var(--main-padding);
	border-radius: var(--main-radius);
	transition: all 0.5s ease;
}

main:hover {
	background-color: #04aa6d;
}

#content1 {
	background-color: #008856;
	grid-area: content1;
	padding: var(--main-padding);
	border-radius: var(--main-radius);
	transition: all 0.5s ease;
}

#content1:hover {
	background-color: #04aa6d;
}

#content2 {
	background-color: #008856;
	grid-area: content2;
	padding: var(--main-padding);
	border-radius: var(--main-radius);
	transition: all 0.5s ease;
}

#content2:hover {
	background-color: #04aa6d;
}

#content3 {
	background-color: #008856;
	grid-area: content3;
	padding: var(--main-padding);
	border-radius: var(--main-radius);
	transition: all 0.5s ease;
}

#content3:hover {
	background-color: #04aa6d;
}

footer {
	background-color: #008856;
	grid-area: footer;
	padding: var(--main-padding);
	border-radius: var(--main-radius);
	transition: all 0.5s ease;
}

footer:hover {
	background-color: #04aa6d;
}

@media only screen and (orientation: portrait) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 40px 100px 1fr 2fr 2fr 2fr 40px;
		grid-template-areas: "nav" "header" "main" "content1" "content2" "content3" "footer";
	}
}
